# datadog.conf
#
# This file is managed via SaltStack;  any manual changes could be lost
#
[Main]
dd_url: {{ pillar['datadog']['dd_url'] }}
api_key: {{ pillar['datadog']['api_key'] }}
gce_updated_hostname: {{ pillar['datadog']['gce_updated_hostname'] }}
tags: {{ pillar['datadog']['tags'] }}