# datadog.conf
#
# This file is managed via SaltStack;  any manual changes could be lost
#
{% set env_tag      = salt['pillar.get']('d42:env')       %}
{% set team_tag     = salt['pillar.get']('datadog:team')  %}
{% set role_tag     = salt['pillar.get']('d42:roles').items()     %}
[Main]
dd_url: {{ pillar['datadog']['dd_url'] }}
api_key: {{ pillar['datadog']['api_key'] }}
hostname: {{ grains['fqdn'] }}
gce_updated_hostname: {{ pillar['datadog']['gce_updated_hostname'] }}
{% if role_tag %}
tags: 'environment:{{ env_tag }}, team:{{ team_tag }}, {{ role_tag|join(", ") }}'
{% else %}
tags: 'environment:{{ env_tag }}, team:{{ team_tag }}'
{% endif %}
